project:
  type: website
  render:
    - index.qmd
    - "slides/*.qmd"
  # post-render:
    # - "cp -rnv slides/static/. _site/slides/" # source: https://github.com/quarto-dev/quarto-cli/discussions/4162#discussioncomment-4831352
    # - "cp -rv slides/static/. _site/slides/" # source: https://github.com/quarto-dev/quarto-cli/discussions/4162#discussioncomment-4831352
    # - "cp -v theme-switcher.js theme-switcher.css _site/"

website:
  title: "Git Workshops"

format:
  html:
    theme:
      light: litera
      dark: darkly
    toc: false

editor:
  markdown:
    references:
      location: block
