name: Quarto Render & Publish
on:
  push:
    branches: [ "main", "2026-01" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: Render and Publish
        timeout-minutes: 1
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}